<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="{%url 'notice_input'%}">
        {%csrf_token%}
        
        <label for="">title</label>
        <input type="text" name="title">
        <label for="">text</label>
        <input type="text" name="text">
        <label for="">contact</label>
        <input type="text" name="contact">
        <input type="submit">
    </form>
    
</body>
</html>