<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            
            <th style="padding: 20px;">tittle</th>
            <th style="padding: 20px;">content</th>
            <th style="padding: 20px;">contact</th>
        </tr>
        {%for n in note%}
        <tr>
            
            <td style="padding: 20px;">{{n.tittle}}</td>
            <td style="padding: 20px;">{{n.text}}</td>
            <td style="padding: 20px;">{{n.contact}}</td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>