<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>collatz</title>
</head>
<body>
    <form method="post" action="collform">
        {% csrf_token %}
        <label for="">enter the vlaue no of collatzseq required</label>
        <input type="text" name="n">
        <input type="submit">

    </form>
    <p>{{seq}}</p>
</body>
</html>