<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>all students</h1>
    <ul>
        {% for i in student %}
        <li>{{i}}</li>
        {%endfor%}
    </ul>
</body>
</html>