<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>employee details</h1>
    <table>
        <tr>
            <th>name &nbsp;&ensp;&nbsp;&ensp;&nbsp;&ensp;</th>
            <th>depno &nbsp;&ensp;</th>
            <th>email</th>
            {%if sala%}
            <th>acno</th>
            <th>sal</th>
            {%endif%}
        </tr>
        
        <tr> 
            <td>{{emps.name}}&nbsp;&ensp;&nbsp;&nbsp;&ensp;&nbsp;</td>
            <td>{{emps.depno}}</td>
            <td>{{emps.email}}</td>
            {%for i in sala%}
           <tr>
            <td>''</td>
            <td>''</td>
            <td>''</td>
            <td>{{i.acno}}</td>
            <td>{{i.sal}}</td>
           </tr>
           {%endfor%}
            
            
           
        </tr>
        
    </table>

</body>
</html>