<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list</title>
</head>
<body>
     <table>
        <tr>
            <th style="padding: 20px;">name </th>
           
            <th style="padding: 20px;">update</th>
            <th style="padding: 20px;">delete</th>
            <th style="padding: 20px;">view</th>
        </tr>
        {%for emp in emps%}
        <tr>
            <td>{{emp.name}}&nbsp;&ensp;&nbsp;&nbsp;&ensp;&nbsp;</td>
            
            <td><a href="{%url 'emp_update' emp.id %}">update</a></td>
            <td><a href="{%url 'emp_delete' emp.id%}">delete</a></td>
            <td><a href="{%url 'emp_details' emp.depno%}">detaiils</a></td>
        </tr>
        {%endfor%}
     </table>
    <a href="{%url 'emp_create'%}">add</a>
</body>
</html>