<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admission</title>
</head>
<body>
    <h1>admission</h1>
    <form method="post" action="{%url 'emp_update' emps.id%}">
        {%csrf_token%}
        <label for="">name</label>
        <input type="text" name="name" value="{{emps.name}}">
        <label for="">depno</label>
        <input type="text" name="depno" id="" value="{{emps.depno}}">
        <label for="">email</label>
        <input type="text" name="email" value="{{emps.email}}">
        <input type="submit" value="update">
    </form>
</body>
</html>